<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit your chats</title>
</head>
<body>
    <h3>edit your chats:<%= chat._id %></h3>
    <p>this chat was sent from <%= chat.from %> to <%= chat.to%></p>
     <form method="POST" action="/chats/<%= chat._id%>?_method=PUT">
        <textarea name="msg" cols="50" rows="10"><%= chat.msg %></textarea>
        <button>edit</button>
     </form>
</body>
</html>